<div class="column">
  <div class="subtitle is-size-3">
    CSegment Edit
  </div>
  <form method="post">
    <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
    <input name="id" type="hidden" value="<%= @bullet.id %>" />
    <div class="field">
      <label class="label">Bullet</label>
      <div class="control">
        <textarea name="bullet" class="textarea" placeholder="Textarea"><%= @bullet.bullet %></textarea>
      </div>
    </div>
    <div class="field">
      <label class="label">Type</label>
        <div class="control">
          <div class="select">
            <select name="Btype">
              <option value="1" <%= :selected if @bullet.code == "1" %>>Guaranteed</option>
              <option value="0" <%= :selected if @bullet.code == "0" %>>Experiment</option>
            </select>
          </div>
        </div>
    </div>
    <div class="form">
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </div>
  </form>
</div>